@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}
    
:root{
    --main-bg-color:#000000;
    --cor-primaria:#FFFFFF;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #C74634;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    width: 100%;
}

header{
    padding: 2% 0% 0% 7%;
}

.header__menu{
    display: flex;
    font-family: var(--font-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-primaria);
    img{
        width: 5rem;
        height: 5rem;
    }
}

.header__subtitulo{
    font-size: 1.6rem;
    font-family: var(--fonte-primaria);    
}

.h1emphasis{
    color: var(--cor-terciaria);
}

.pres{
    padding: 4%;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.pres__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pres__texto_input{
    font-size: 1rem;
    font-family: var(--font-secundaria);
    border: 1px, solid, var(--main-bg-color);
    padding: 4px;
    background-color: var(--main-bg-color);
    color: var(--cor-primaria);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.pres__texto_input:hover{
    border: 1px, orangered, solid;
    border-radius: 10px;
    padding: 4px;
}

.pres__links{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.pres__links_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.pres__button_links {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 800;
    font-size: 1rem;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 1rem;
    img{
        height: 1.5rem;
        width: 1.5rem;
    }
}

.pres__button_links:hover{
    background-color: #272727;
    width: 10.1rem;
    box-shadow:1px 5px 5px var(--cor-terciaria);
}

.pres__conteudo2{
    border: 1px, solid,var(--cor-primaria);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 40%;
    img{
        width: 100%;
        height: 50vh;
    }
}

.pres__texto{
    font-size: 1rem;
    font-family: var(--font-secundaria);
    border: 1px, solid, var(--main-bg-color);
    padding: 4px;
    background-color: var(--main-bg-color);
    color: var(--cor-primaria);
    width: 100%;
}

footer{
    padding: 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width:414px){
    header{
        padding: 5%;
    }

    .pres{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .pres__conteudo{
       width: auto;
    }

    .pres__links_button{
        width: 100%;
    }

    .pres__button_links {
        width: 9rem;
        gap: 0.6rem;
    }

    .pres__conteudo2{
        width: 90%;
        img{
            height: 30vh;
        }
        #img_button{
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

/* Podemos também definir intervalos para os tamanhos de telas com um único media query, atribuímos o valor mínimo e depois o valor máximo separando ele pelo atributo and, veja: @media (min-width: 480px ) and (max-width: 800px), nesse caso os estilos serão aplicados em telas de no mínimo “480px” e de no máximo “800px”.
 */